body {
    font-family: "Consolas";
    margin: 0 18%;
    background-color: black;
}

body {
    color: white;
}

img {
    width: 100%;
    aspect-ratio: 2;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
}

a {
    color: white;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#projects > div {
    flex-basis: calc(50% - 0.5rem);
    background-color: #234;

    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;

    transition: 250ms;
}

#projects > div:hover {
    background-color: #456;
}

/* Phone Only */
@media only screen and (max-width: 1200px) {
    #projects > div {
        flex-basis: 100%;
        background-color: #234;

        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
    }
}